<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration  
      PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
      "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
  
<generatorConfiguration>  
    <properties  resource="conf/jdbc.properties"/>  
    
    <!-- 指定数据库驱动jar的位置，同上，使用绝对路径  -->  
    <classPathEntry location="D:/ojdbc6.jar" />  

    <context id="mybatis" targetRuntime="MyBatis3">  
    
    <commentGenerator>
      <property name="suppressAllComments" value="true"/>
      <property name="suppressDate" value="true"/>
   </commentGenerator>

        <jdbcConnection driverClass="${db.driverClass}"  
            connectionURL="${db.jdbcUrl}"  
            userId="${db.username}"  
            password="${db.password}">  
        </jdbcConnection>  
  
        <javaTypeResolver >  
            <property name="forceBigDecimals" value="false" />  
        </javaTypeResolver>  
 
      <!--   <javaModelGenerator targetPackage="com.cmpay.gateway.model" targetProject="MAVEN">   -->
        <javaModelGenerator targetPackage="com.cmpay.boss.entity" targetProject="F:/cmpay/work/cmpay/cmpay-web-boss/src/main/java">  
            <property name="enableSubPackages" value="true" />  
            <property name="trimStrings" value="true" />  
        </javaModelGenerator>  
  
        <sqlMapGenerator targetPackage="sqlmap.sqlmap.mapper"  targetProject="F:/cmpay/work/cmpay/cmpay-web-boss/src/main/resources">  
            <property name="enableSubPackages" value="true" />  
        </sqlMapGenerator>  
  
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.cmpay.boss.mapper"  targetProject="F:/cmpay/work/cmpay/cmpay-web-boss/src/main/java">  
            <property name="enableSubPackages" value="true" />  
        </javaClientGenerator>  
          
         <!--  <table tableName="TEST_USER" domainObjectName="TestUser" />  -->
          
      <!-- <table tableName="CMPAY_PAY_ORDER" domainObjectName="CmpayPayOrder" enableSelectByExample="true" enableDeleteByExample="true"  
            enableCountByExample="true" enableUpdateByExample="true" />  -->
  
    </context>  
</generatorConfiguration>  