<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration  
      PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
      "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
  
<generatorConfiguration>  
    <properties  resource="conf/jdbc.properties"/>  
    
    <!-- 指定数据库驱动jar的位置，同上，使用绝对路径  -->  
    <classPathEntry location="D:/ojdbc6.jar" />  

    <context id="mybatis" targetRuntime="MyBatis3">  
    
    <commentGenerator>
      <property name="suppressAllComments" value="true"/>
      <property name="suppressDate" value="true"/>
   </commentGenerator>

        <jdbcConnection driverClass="${jdbcDriver}"  
            connectionURL="${url}"  
            userId="${username}"  
            password="${password}">  
        </jdbcConnection>  
  
        <javaTypeResolver >  
            <property name="forceBigDecimals" value="false" />  
        </javaTypeResolver>  
 
      <!--   <javaModelGenerator targetPackage="com.cmpay.gateway.model" targetProject="MAVEN">   -->
        <javaModelGenerator targetPackage="com.cmpay.service.fee.model" targetProject="F:/cmpay/work/cmpay/cmpay/pay-service-fee/src/main/java">  
            <property name="enableSubPackages" value="true" />  
            <property name="trimStrings" value="true" />  
        </javaModelGenerator>  
  
        <sqlMapGenerator targetPackage="com.cmpay.service.fee.mapping"  targetProject="F:/cmpay/work/cmpay/cmpay/pay-service-fee/src/main/java">  
            <property name="enableSubPackages" value="true" />  
        </sqlMapGenerator>  
  
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.cmpay.service.fee.dao"  targetProject="F:/cmpay/work/cmpay/cmpay/pay-service-fee/src/main/java">  
            <property name="enableSubPackages" value="true" />  
        </javaClientGenerator>  
          
         <!--  <table tableName="TEST_USER" domainObjectName="TestUser" />  -->
          
        <table tableName="TEST_USER" domainObjectName="TestUser" enableSelectByExample="false" enableDeleteByExample="false"  
            enableCountByExample="false" enableUpdateByExample="false" />  
  
    </context>  
</generatorConfiguration>  