<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.boss.mapper.CmpaySettDetailMapper" >
  <resultMap id="BaseResultMap" type="com.cmpay.boss.entity.CmpaySettDetail" >
    <id column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="INCHANNEL" property="inchannel" jdbcType="VARCHAR" />
    <result column="MER_NO" property="merNo" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="TRANS_AMT" property="transAmt" jdbcType="DECIMAL" />
    <result column="TRANS_TYPE" property="transType" jdbcType="VARCHAR" />
    <result column="TRANS_DATE" property="transDate" jdbcType="TIMESTAMP" />
    <result column="PAY_CHANNEL" property="payChannel" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR" />
    <result column="SETT_STATUS" property="settStatus" jdbcType="VARCHAR" />
    <result column="BATCH_ID" property="batchId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="FIELD1" property="field1" jdbcType="VARCHAR" />
    <result column="FIELD2" property="field2" jdbcType="VARCHAR" />
    <result column="FIELD3" property="field3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDER_ID, INCHANNEL, MER_NO, USER_ID, TRANS_AMT, TRANS_TYPE, TRANS_DATE, PAY_CHANNEL, 
    PAY_STATUS, SETT_STATUS, BATCH_ID, CREATE_TIME, MODIFY_TIME, VERSION, REMARK, FIELD1, 
    FIELD2, FIELD3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cmpay.boss.entity.CmpaySettDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CMPAY_SETT_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CMPAY_SETT_DETAIL
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CMPAY_SETT_DETAIL
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cmpay.boss.entity.CmpaySettDetailExample" >
    delete from CMPAY_SETT_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cmpay.boss.entity.CmpaySettDetail" >
    insert into CMPAY_SETT_DETAIL (ORDER_ID, INCHANNEL, MER_NO, 
      USER_ID, TRANS_AMT, TRANS_TYPE, 
      TRANS_DATE, PAY_CHANNEL, PAY_STATUS, 
      SETT_STATUS, BATCH_ID, CREATE_TIME, 
      MODIFY_TIME, VERSION, REMARK, 
      FIELD1, FIELD2, FIELD3
      )
    values (#{orderId,jdbcType=VARCHAR}, #{inchannel,jdbcType=VARCHAR}, #{merNo,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{transAmt,jdbcType=DECIMAL}, #{transType,jdbcType=VARCHAR}, 
      #{transDate,jdbcType=TIMESTAMP}, #{payChannel,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, 
      #{settStatus,jdbcType=VARCHAR}, #{batchId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR}, #{field3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cmpay.boss.entity.CmpaySettDetail" >
    insert into CMPAY_SETT_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="inchannel != null" >
        INCHANNEL,
      </if>
      <if test="merNo != null" >
        MER_NO,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="transAmt != null" >
        TRANS_AMT,
      </if>
      <if test="transType != null" >
        TRANS_TYPE,
      </if>
      <if test="transDate != null" >
        TRANS_DATE,
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="settStatus != null" >
        SETT_STATUS,
      </if>
      <if test="batchId != null" >
        BATCH_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="field1 != null" >
        FIELD1,
      </if>
      <if test="field2 != null" >
        FIELD2,
      </if>
      <if test="field3 != null" >
        FIELD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="inchannel != null" >
        #{inchannel,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="transAmt != null" >
        #{transAmt,jdbcType=DECIMAL},
      </if>
      <if test="transType != null" >
        #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="settStatus != null" >
        #{settStatus,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null" >
        #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null" >
        #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        #{field3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cmpay.boss.entity.CmpaySettDetailExample" resultType="java.lang.Integer" >
    select count(*) from CMPAY_SETT_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CMPAY_SETT_DETAIL
    <set >
      <if test="record.orderId != null" >
        ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.inchannel != null" >
        INCHANNEL = #{record.inchannel,jdbcType=VARCHAR},
      </if>
      <if test="record.merNo != null" >
        MER_NO = #{record.merNo,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.transAmt != null" >
        TRANS_AMT = #{record.transAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.transType != null" >
        TRANS_TYPE = #{record.transType,jdbcType=VARCHAR},
      </if>
      <if test="record.transDate != null" >
        TRANS_DATE = #{record.transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payChannel != null" >
        PAY_CHANNEL = #{record.payChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.payStatus != null" >
        PAY_STATUS = #{record.payStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.settStatus != null" >
        SETT_STATUS = #{record.settStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.batchId != null" >
        BATCH_ID = #{record.batchId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.field1 != null" >
        FIELD1 = #{record.field1,jdbcType=VARCHAR},
      </if>
      <if test="record.field2 != null" >
        FIELD2 = #{record.field2,jdbcType=VARCHAR},
      </if>
      <if test="record.field3 != null" >
        FIELD3 = #{record.field3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CMPAY_SETT_DETAIL
    set ORDER_ID = #{record.orderId,jdbcType=VARCHAR},
      INCHANNEL = #{record.inchannel,jdbcType=VARCHAR},
      MER_NO = #{record.merNo,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=VARCHAR},
      TRANS_AMT = #{record.transAmt,jdbcType=DECIMAL},
      TRANS_TYPE = #{record.transType,jdbcType=VARCHAR},
      TRANS_DATE = #{record.transDate,jdbcType=TIMESTAMP},
      PAY_CHANNEL = #{record.payChannel,jdbcType=VARCHAR},
      PAY_STATUS = #{record.payStatus,jdbcType=VARCHAR},
      SETT_STATUS = #{record.settStatus,jdbcType=VARCHAR},
      BATCH_ID = #{record.batchId,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      VERSION = #{record.version,jdbcType=DECIMAL},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      FIELD1 = #{record.field1,jdbcType=VARCHAR},
      FIELD2 = #{record.field2,jdbcType=VARCHAR},
      FIELD3 = #{record.field3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmpay.boss.entity.CmpaySettDetail" >
    update CMPAY_SETT_DETAIL
    <set >
      <if test="inchannel != null" >
        INCHANNEL = #{inchannel,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        MER_NO = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="transAmt != null" >
        TRANS_AMT = #{transAmt,jdbcType=DECIMAL},
      </if>
      <if test="transType != null" >
        TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      </if>
      <if test="transDate != null" >
        TRANS_DATE = #{transDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="settStatus != null" >
        SETT_STATUS = #{settStatus,jdbcType=VARCHAR},
      </if>
      <if test="batchId != null" >
        BATCH_ID = #{batchId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="field1 != null" >
        FIELD1 = #{field1,jdbcType=VARCHAR},
      </if>
      <if test="field2 != null" >
        FIELD2 = #{field2,jdbcType=VARCHAR},
      </if>
      <if test="field3 != null" >
        FIELD3 = #{field3,jdbcType=VARCHAR},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmpay.boss.entity.CmpaySettDetail" >
    update CMPAY_SETT_DETAIL
    set INCHANNEL = #{inchannel,jdbcType=VARCHAR},
      MER_NO = #{merNo,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR},
      TRANS_AMT = #{transAmt,jdbcType=DECIMAL},
      TRANS_TYPE = #{transType,jdbcType=VARCHAR},
      TRANS_DATE = #{transDate,jdbcType=TIMESTAMP},
      PAY_CHANNEL = #{payChannel,jdbcType=VARCHAR},
      PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      SETT_STATUS = #{settStatus,jdbcType=VARCHAR},
      BATCH_ID = #{batchId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      VERSION = #{version,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      FIELD1 = #{field1,jdbcType=VARCHAR},
      FIELD2 = #{field2,jdbcType=VARCHAR},
      FIELD3 = #{field3,jdbcType=VARCHAR}
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>