<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmpay.gateway.dao.CmpayIpBindingMapper" >
  <resultMap id="BaseResultMap" type="com.cmpay.gateway.model.CmpayIpBinding" >
    <id column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="INCHANNEL" property="inchannel" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IP, INCHANNEL, STATUS, CREATETIME, UPDATETIME, OPERATOR, REMARK
  </sql>
  <select id="getIpList" resultMap="BaseResultMap">
           select 
              <include refid="Base_Column_List" />
           from CMPAY_IP_BINDING
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from CMPAY_IP_BINDING
    where IP = #{ip,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CMPAY_IP_BINDING
    where IP = #{ip,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmpay.gateway.model.CmpayIpBinding" >
    insert into CMPAY_IP_BINDING (IP, INCHANNEL, STATUS, 
      CREATETIME, UPDATETIME, OPERATOR, 
      REMARK)
    values (#{ip,jdbcType=VARCHAR}, #{inchannel,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmpay.gateway.model.CmpayIpBinding" >
    insert into CMPAY_IP_BINDING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        IP,
      </if>
      <if test="inchannel != null" >
        INCHANNEL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="operator != null" >
        OPERATOR,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="inchannel != null" >
        #{inchannel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmpay.gateway.model.CmpayIpBinding" >
    update CMPAY_IP_BINDING
    <set >
      <if test="inchannel != null" >
        INCHANNEL = #{inchannel,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where IP = #{ip,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmpay.gateway.model.CmpayIpBinding" >
    update CMPAY_IP_BINDING
    set INCHANNEL = #{inchannel,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR}
    where IP = #{ip,jdbcType=VARCHAR}
  </update>
</mapper>